.sliderimg{
    height: 600px;
}

#head{
    margin-top: 70px;
}

.headerset{
    padding-top: 250px;
    box-sizing: border-box;
}

.headerset h2{
    font-size: 32px;
}

.headerset h1{
    font-size: 52px;
    font-weight: bold;
}

.category{
    height: 340px;
}