.sliderimg{
    width: 1600px;
    height: 700px;
}
.headerset{
    padding-top: 250px;
    box-sizing: border-box;
}

.headerset h2{
    font-size: 32px;
}

.headerset h1{
    font-size: 52px;
    font-weight: bold;
}